*.swp
*.o
*.la
*.lo
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
config.sub
config.guess
compile
configure
aclocal.m4
depcomp
*~
.deps
.libs
missing
stamp-h1
libtool
ltmain.sh
autom4te.cache
install-sh
m4/lt*
m4/libtool.*
.cproject
.project
*.pc
*.tar.gz
*-stdint.h
