Source: bbcat-base
Priority: optional
Maintainer: Richard Day <richard.day@bbc.co.uk>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9), pkg-config

Package: bbcat-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Base library for BBC Audio Toolbox
